* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: white;

}

.container {
	width: 500px;
	margin: 20px auto;
	border: solid 1px #f1f1f1;
	background: skyblue;
}
.container .title {
	padding: 20px;
	text-align: center;
}
.form {
	padding: 20px;
}
.input_type {
	padding: 20px;
}
.btn {
	padding: 10px 25px;
	color: white;
	background: pink;
	border: none;
	font-weight: bold;

}